@charset "utf-8";
@import "_global.scss";
@import "_common_viewer.scss";
@import "_common_table.scss";
@import "_common_bootstrap_mod.scss";
@import "_common_page_layout.scss";
@import "_common_tabstrip.scss";


.center {
    text-align: center;
}

.fill {
    width: 100%;
}

.membrane {
    display: none;
}
body.refused {
    .membrane {
        position: fixed;
        display: block;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(80, 80, 80, 0.1);
    }
}